<app-shell>
  <app-loader *ngIf="isLoading$ | async; else wall" class="Home-Loader" palette="primary"></app-loader>

  <ng-template #wall>
    <div *ngIf="posts$ | async as posts" class="WallContainer">
      <div class="Wall" >
          <ng-container *ngFor="let post of posts; trackBy: trackByPost">
              <app-post [post]="post"></app-post>
          </ng-container>
        <p *ngIf="posts && posts.length === 0" class="Wall-EmptyScreen">No post to display.</p>
      </div>
    </div>
  </ng-template>
</app-shell>
