<mat-card [ngClass]="postTypeDesign.color" class="PostCardLight">
  <div class="PostCardLight-Avatar">
    <img mat-card-avatar src="assets/images/gazgano-picture-64px.png">
  </div>
  <div class="PostCardLight-Title">{{ post.title }}</div>
  <div class="PostCardLight-Actions">
      <button mat-button>
          <mat-icon>thumb_up</mat-icon>
          <span *ngIf="post.likesCount" class="PostCardLight-Actions-Text" >{{ post.likesCount }}</span>
      </button>
      <button mat-button>
          <mat-icon>chat_bubble</mat-icon>
          <span *ngIf="!!post.comments" class="PostCardLight-Actions-Text" >{{ post.comments?.length }}</span>
      </button>
  </div>
</mat-card>
