.PostCardLight {
    align-items: center;
    border-radius: 0 !important;
    box-shadow: none !important;
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
}

.PostCardLight-Avatar {
    margin-right: 10px;
}

.PostCardLight-Actions {
    margin-left: auto;
}