@import 'mixins';
@import 'breakpoints';

:host {
  @include full-size;
}

.PostPage-Loader {
  margin: auto;
}

.PostPage-ErrorPage {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PostPage-ErrorPage-Icon {
  font-size: 150px;
  margin-bottom: -30px; // to compensate icon line spacing
}

.PostPage-Container {
  width: $md;
  align-self: center;
}

.PostPage-AddPostActions {
  padding: 20px 0;
  display: flex;
  & > *:not(:last-child) {
    margin-right: 10px;
  }
}