@import 'mixins';
@import 'breakpoints';

:host {
  @include full-size;
}

.PostPage-Loader {
  margin: auto;
}

.PostPage-ErrorPage {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.PostPage-ErrorPage-Icon {
  font-size: 150px;
  margin-bottom: -30px; // to compensate icon line spacing
}

.PostPage-Container {
  max-width: $md;
  min-width: 320px;
  align-self: center;
}

.PostPage-AddPostActions {
  padding: 20px;
  display: flex;
  & > *:not(:last-child) {
    margin-right: 10px;
  }
}

.PostPage-PostsList {
  margin-top: -10px; // to compensate the margin-top of the first post
  display: flex;
  flex-direction: column;
}

.PostPage-PostsList-RefreshButton {
  align-self: center;
  margin: 20px 0;
}
