<app-shell *ngIf="callState$ | async as callState">
  <app-loader *ngIf="callState === 'LOADING'" class="PostPage-Loader" palette="primary"></app-loader>

  <div *ngIf="getErrorMessage(callState)" class="PostPage-ErrorPage">
    <div class="PostPage-ErrorPage-Icon">
      <mat-icon color="primary" [inline]="true">error_outline</mat-icon>
    </div>
    <h3>Oups! {{ getErrorMessage(callState) }}</h3>
    <button (click)="refresh()" color="primary" mat-raised-button>Retry</button>
  </div>

  <div class="PostPage-Container" *ngIf="callState === 'LOADED'">
    <div class="PostPage-AddPostActions">
      <button mat-fab color="primary" title="Post a message" (click)="toggleEditor('message')"><mat-icon>edit</mat-icon></button>
      <button mat-fab color="accent" title="Share an image" (click)="toggleEditor('screenshotShare')"><mat-icon>image</mat-icon></button>
    </div>
    <app-post-editor [postEditorType]="displayedEditor" (close)="closeEditor($event)"></app-post-editor>
    <ng-container *ngIf="posts$ | async as posts">
      <div *ngIf="posts && posts.length === 0; else postsList" class="PostPage-ErrorPage">
        <h3>No post to display for now</h3>
        <button (click)="refresh()" color="primary" mat-raised-button>Refresh</button>
      </div>

      <ng-template #postsList>
        <div class="PostPage-PostsList">
          <app-post *ngFor="let post of posts; trackBy: trackByPost" [post]="post" [currentUser]="currentUser" [commentsCount$]="getCommentsCount$(post.id)" (action)="onPostAction($event)"></app-post>
          <button class="PostPage-PostsList-RefreshButton" mat-button color="primary" (click)="refresh()">Refresh</button>
        </div>
      </ng-template>
    </ng-container>
  </div>
</app-shell>
