@import 'mixins';

:host {
  @include full-size;
}

.PostPageContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.PostPage-Loader {
  margin: auto;
}

.PostPage-ErrorPage {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PostPage-ErrorPage-Icon {
  font-size: 150px;
  margin-bottom: -30px; // to compensate icon line spacing
}