@import 'ink-theme';

:host {
  width: 100%;
}

///////////////////////////////////////////////
// Common
///////////////////////////////////////////////

%Avatar {
  margin-right: 10px;
}

%TextBox {
  border-radius: 3px;
  margin-right: 10px;
  padding: 10px 15px;
}

///////////////////////////////////////////////
// PostComment - Comments
///////////////////////////////////////////////

.PostComment-Comment {
    align-items: center;
    display: flex;
    margin-top: 5px;

    &:hover {
      .PostComment-LikeButton {
          display: block;
      }
    }
}

.PostComment-Content {
  @extend %TextBox;
  max-width: calc(100% - 100px); // to let space for button
}

.PostComment-Avatar {
    @extend %Avatar;
}

.PostComment-LikeButton {
    display: none;
}

// adding colors depending of the theme
@each $name in $palettes {
  $palette: map-get($ink-theme, $name);
  $color: map-get($palette, default);
  
  $variant-code: 50;
  $soft-color: map-get($palette, $variant-code);
  $soft-color-contrast: map-get(map-get($palette, contrast), $variant-code);

  .PostComment-Content--#{$name} {
    @extend .PostComment-Content;
    background-color: $soft-color;
    color: $soft-color-contrast;
  }

  .PostComment-LikeButton--#{$name} {
    @extend .PostComment-LikeButton;
    color: $color;
  }
}

///////////////////////////////////////////////
// PostComment - WriteBox
///////////////////////////////////////////////

.mat-divider {
  margin: 10px 0;
}

.PostComment-WriteBox {
  align-items: center;
  display: flex;
}

.PostComment-WriteBox-Avatar {
  @extend .PostComment-Avatar;
}

.PostComment-WriteBox-Input {
  @extend %TextBox;
  border: solid 1px map-get(map-get($ink-theme, foreground), divider);
  background-color: map-get(map-get($ink-theme, background), background);
  width: calc(100% - 100px); // to let space for button
}

// adding colors depending of the theme
@each $name in $palettes {
  $palette: map-get($ink-theme, $name);

  .PostComment-WriteBox-SendButton--#{$name} {
    color: map-get($palette, default);
  }
}