@import 'breakpoints';
@import 'mixins';
@import 'ink-theme';

.mat-toolbar {
  line-height: 0px;
  height: 64px;
}

.Header-Logo {
  margin-right: auto;
  img {
    height: 40px;
  }
}

.Header-SearchBar {
  $side-padding: 15px;

  display: none;
  padding: 0 $side-padding;
  margin: 0 auto;
  position: relative;
  width: 50%;

  input {
    border: none;
    height: 25px;
    padding-left: 10px;
    width: 100%;
  }

  .Header-SearchBar-Icon {
    position: absolute;
    right: $side-padding;
  }
}

.Header-Image {
  margin-right: 5px;
}

.Header-Name {
  display: none;
}

// Breakpoints
@media (min-width: $sm) {
  .Header-SearchBar {
    display: block;
  }

  .Header-Name {
    display: inline;
  }
}
