@import 'breakpoints';
@import 'mixins';

.mat-toolbar {
  line-height: 0px;
  height: 64px;
}

.Header-Logo {
  margin-right: auto;
  img {
    height: 40px;
  }
}

.Header-SearchBar {
  $side-padding: 15px;

  display: none;
  padding: 0 $side-padding;
  margin: 0 auto;
  position: relative;
  width: 50%;

  input {
    border: none;
    height: 25px;
    padding-left: 10px;
    width: 100%;
  }

  .Header-SearchBar-Icon {
    position: absolute;
    right: $side-padding;
  }
}

$image-size: 30px;

.Header-DefaultImage {
  width: $image-size;
  height: $image-size;
  border-radius: $image-size/2;
  background-color: limegreen;
  color: white;
  font-size: $image-size/2;
  text-transform: uppercase;
  @include center-everything;
}

.Header-Image {
  height: $image-size;
  width: $image-size;
  border-radius: $image-size/2;
  margin-right: 5px;
}

.Header-Name {
  display: none;
}

// Breakpoints
@media (min-width: $sm) {
  .Header-SearchBar {
    display: block;
  }

  .Header-Name {
    display: inline;
  }
}
