.ImageViewer-Image {
  object-fit: contain;
  max-width: 100%;
  max-height: calc(90vh - 76px); // modal height minus space for buttons
  cursor: pointer;
}

.ImageViewer-PageButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -18px; // compensate padding
}
