.UserList-Table td {
    padding: 3px;
}

.UserList-Table-Header {
    font-weight: bold;
}

.UserList-Table-Body-ProfileImage {
    text-align: center;
}

.UserList-Table-Body-ProfileImage-Image {
    width: 32px;
}
