.UserList td {
    padding: 3px;
}

.UserList-Header {
    font-weight: bold;
}

.UserList-Header-Actions {
    width: 120px;
}

.UserList-Body-ProfileImage {
    text-align: center;
}

.UserList-Body-ProfileImage-Image {
    width: 32px;
}

.UserList-Body-Actions {
    display: flex;
}

.UserList-Body-Actions-DeleteButton {
    display: flex;
    overflow-x: hidden;
}

.UserList-Body-Actions-DeleteButton-Confirmation {
    font-size: 10px;
}
