  <table *ngIf="userList$ | async as userList" class="UserList-Table">
  <thead class="UserList-Table-Header">
    <tr>
      <td>ID</td>
      <td>Profile Image</td>
      <td>Username</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody class="UserList-Table-Body">
    <tr *ngFor="let user of userList.users">
      <td>{{ user.id }}</td>
      <td class="UserList-Table-Body-ProfileImage"><img [src]="user.profileImageSrcUrl" class="UserList-Table-Body-ProfileImage-Image"></td>
      <td>{{ user.username }}</td>
      <td>
        <div class="UserList-Table-Body-DeleteButton">
          <button *ngIf="!userList.loadingUsersId.includes(user.id)" mat-button (click)="deleteUser(user)"><mat-icon>delete</mat-icon></button>
          <mat-spinner *ngIf="userList.loadingUsersId.includes(user.id)" diameter="20"></mat-spinner>
        </div>
      </td>
    </tr>
  </tbody>
</table>
