@import 'extra-palettes';
@import 'mixins';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Signup-AnimationContainer {
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.Signup-ActionButtons {
  margin-top: auto;
  align-self: flex-end;
  display: flex;
  align-items: center;
  & > *:not(:last-child) {
    margin-right: 5px;
  }
}

.Signup-Confirmation {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Signup-ConfirmationIcon {
  font-size: 100px;
  margin-bottom: -30px; // to compensate line space of the icon
  color: get-extra-color($green, default, null);
}

.Signup-ConfirmationText {
  text-align: center;
  width: 300px;
}