<h2>Sign up</h2>

<div [@moveStepForwardTrigger]="currentStep" class="Signup-AnimationContainer">
  <app-profile-form *ngIf="currentStep === 'FORM_FILL'" class="Signup-Form" [profileFormType]="'NEW'" (formSubmit)="onFormSubmit($event)" (formCancel)="closeDialog()" [isSubmitting]="isSubmitting"></app-profile-form>

  <div *ngIf="currentStep === 'CONFIRMATION'" class="Signup-Confirmation">
    <div class="Signup-ConfirmationIcon"><mat-icon [inline]="true">check_circle</mat-icon></div>
    <p class="Signup-ConfirmationText">
      Welcome to JoyStuck!<br>
      A confirmation email has been sent to <b>{{ capturedEmail || '' }}</b>. Please click on the link inside to complete your subscription.
    </p>
    <button (click)="continue()" mat-button color="primary">Continue</button>
  </div>
</div>
