@import 'extra-palettes';
@import 'mixins';

.Signup-Confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Signup-ConfirmationIcon {
  font-size: 100px;
  margin-bottom: -30px; // to compensate line space of the icon
  color: get-extra-color($green, default, null);
}

.Signup-ConfirmationText {
  text-align: center;
  width: 300px;
}