<img class="Logo" src="assets/images/logo.svg">
<div class="SearchBar">
  <input type="text" placeholder="Rechercher">
  <div class="SearchBar-Icon"><i class="fas fa-search"></i></div>
</div>
<div class="SocialButtons">
  <div class="HeaderButton SocialButtons-Message"><i class="far fa-comment"></i></div>
  <div class="HeaderButton SocialButtons-Notification"><i class="far fa-bell"></i></div>
</div>
<div class="UserMenu">
  <div class="UserMenu-Image" style="width: 30px; height: 30px; border-radius: 15px; background-color: white;"></div>
  <div class="UserMenu-Name">Gazgano</div>
  <div class="UserMenu-Caret"><i class="fas fa-caret-down"></i></div>
  <div class="UserMenu-Dropdown" *ngIf="false">
    <a routerLink="">Home</a><br>
    <a routerLink="/admin">Admin</a><br>
    <a routerLink="/system">System</a>
  </div>
</div>

