<img class="Logo" src="assets/images/logo.svg" routerLink="">
<div class="SearchBar">
  <input type="text" placeholder="Rechercher">
  <div class="SearchBar-Icon"><i class="fas fa-search"></i></div>
</div>
<div class="SocialButtons">
  <div class="HeaderButton SocialButtons-Message">
    <i class="far fa-comment"></i>
    <div class="HeaderButton-Alert">{{ countMessageAlerts }}</div>
  </div>
  <div class="HeaderButton SocialButtons-Notification">
    <i class="far fa-bell"></i>
    <div class="HeaderButton-Alert">{{ countNotifAlerts }}</div>
  </div>
</div>
<div class="UserMenu" (click)="onUserMenuClick()">
  <img class="UserMenu-Image" *ngIf="!displayDefaultImage" [src]="userPicturePath">
  <div class="UserMenu-DefaultImage" *ngIf="displayDefaultImage">{{ userName.substring(0, 2) }}</div>
  <div class="UserMenu-Name">{{ userName }}</div>
  <div class="UserMenu-Caret"><i class="fas fa-caret-down"></i></div>
  <div class="UserMenu-Dropdown" *ngIf="displayDropdown">
    <a class="UserMenu-Dropdown-Link" routerLink="/admin">
      <div class="UserMenu-Dropdown-Link-Icon"><i class="fas fa-user-cog"></i></div>
      <div class="UserMenu-Dropdown-Link-Name">Admin</div>
    </a>
    <a class="UserMenu-Dropdown-Link" routerLink="/system">
      <div class="UserMenu-Dropdown-Link-Icon"><i class="fas fa-tools"></i></div>
      <div class="UserMenu-Dropdown-Link-Name">System</div>
    </a>
  </div>
</div>

