@import 'ink-theme';
@import 'mixins';

:host {
  align-items: center;
  display: flex;
  margin-top: 5px;

  &:hover {
    .PostComment-LikeButton {
        display: block;
    }
  }
}

.PostComment-Avatar {
  margin-right: 10px;
}

.PostComment-Content {
  border-radius: 3px;
  margin-right: 10px;
  padding: 10px 15px;
  max-width: calc(100% - 100px); // to let space for button
}

.PostComment-LikeButton {
    display: none;
}

.PostComment-ErrorButton {
  color: get-theme-color($ink-theme, warn, default, null);
}

.PostComment-RetryButton {
  padding: 0 5px;
}

// adding colors depending of the theme
@each $name in $palettes {
  .PostComment-Content--SENT--#{$name} {
    @extend .PostComment-Content;
    background-color: get-theme-color($ink-theme, $name, 50, null);
    color: get-theme-color($ink-theme, $name, contrast, 50);
  }

  .PostComment-Content--PENDING--#{$name} {
    @extend .PostComment-Content;
    background-color: adjust-color(
      get-theme-color($ink-theme, $name, 50, null),
      $lightness: -15%,
      $saturation: -50%
    );
    color: get-theme-color($ink-theme, $name, contrast, 50);
  }

  .PostComment-Content--FAILED--#{$name} {
    @extend .PostComment-Content;
    background-color: get-theme-color($ink-theme, background, disabled-button, null);
    color: get-theme-color($ink-theme, foreground, disabled, null);
    margin-right: 3px;
  }

  .PostComment-LikeButton--#{$name} {
    @extend .PostComment-LikeButton;
    color: get-theme-color($ink-theme, $name, default, null);
  }
}
