<div class="PostComment-Avatar" [matTooltip]="author.username + ' - ' + timestamp" matTooltipPosition="right">
  <app-profile-image [user]="author" [sizeInPixel]="'40'"></app-profile-image>
</div>

<div [ngClass]="'PostComment-Content--' + comment.status + '--' + palette">{{ comment.content }}</div>

<button *ngIf="comment.status === 'SENT'" (click)="toggleLikeComment()" [ngClass]="'PostComment-LikeButton--' + palette" [ngStyle]="comment.likeIds?.length > 0? {display: 'block'} : {}" mat-icon-button>
    <mat-icon [inline]="true">thumb_up</mat-icon>
    <span *ngIf="comment.likeIds?.length > 0">{{ comment.likeIds?.length }}</span>
</button>

<ng-container *ngIf="comment.status === 'FAILED'">
    <mat-spinner *ngIf="(isResending$ | async); else resendButton" color="warn" [diameter]="20"></mat-spinner>
    <ng-template #resendButton>
        <button (click)="retrySend()" mat-button color="warn" class="PostComment-RetryButton">
            <mat-icon [inline]="true">error</mat-icon>
            <span>Error while sending. Click to retry.</span>
        </button>
    </ng-template>
</ng-container>


