<form (ngSubmit)="onSubmit()" [formGroup]="profileForm" class="ProfileForm">
  <img class="ProfileForm-Image" src="assets/images/gazgano-picture-64px.png">
  
  <p>
    <mat-form-field floatLabel="always">
      <input #username formControlName="username" matInput placeholder="Username">
      <mat-error>{{ getErrorMessage('username', 'username') | uppercaseFirstLetter }}</mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field floatLabel="always">
      <input formControlName="email" matInput placeholder="Email">
      <mat-error>{{ getErrorMessage('email', 'email') | uppercaseFirstLetter }}</mat-error>
    </mat-form-field>
  </p>

  <p class="ProfileForm-Passwords" formGroupName="passwords">
    <mat-form-field class="ProfileForm-Password" floatLabel="always">
      <mat-icon class="ProfileForm-Password-HelpIcon" color="primary" [inline]="true" matTooltip="Password must have at least eight characters">help</mat-icon>
      <input formControlName="password" matInput placeholder="Password" type="password">
      <mat-error>{{ getErrorMessage(['passwords', 'password'], 'password') | uppercaseFirstLetter }}</mat-error>
    </mat-form-field>
  
    <mat-form-field floatLabel="always">
      <input formControlName="confirmPassword" matInput placeholder="Confirm password" type="password">
      <mat-error>{{ getErrorMessage(['passwords', 'confirmPassword'], 'password confirmation') | uppercaseFirstLetter }}</mat-error>
    </mat-form-field>
  </p>

  <div [ngClass]="profileFormType === 'new'? 'ProfileForm-ActionButtons--newStyle' : 'ProfileForm-ActionButtons'">
    <button *ngIf="profileFormType === 'new'" (click)="onCancel()" [ngStyle]="{ 'order': profileFormType === 'new'? 2 : 1 }" class="ProfileForm-CancelButton" mat-flat-button>Cancel</button>
    <button [disabled]="isSubmitting || !atLeastOneDirty(profileForm)" [ngStyle]="{ 'order': profileFormType === 'new'? 3 : 2 }" class="ProfileForm-SubmitButton" color="primary" type="submit" mat-flat-button>{{ profileFormType === 'new'? 'Next' : 'Save changes' }}</button>
    <mat-spinner *ngIf="isSubmitting" [ngStyle]="{ 'order': profileFormType === 'new'? 1 : 3 }" [diameter]="20" color="primary"></mat-spinner>
  </div>
</form>
