:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mat-form-field {
  margin-bottom: 7px;
}

.mat-error {
  white-space: nowrap;
}

.ProfileForm-Password {
  position: relative;
  margin-right: 10px;
}

.ProfileForm-Password-HelpIcon {
  position: absolute;
  top: -16px;
  left: 57px;
}

$action-buttons-gutter: 10px;

.ProfileForm-ActionButtons {
  display: flex;
  align-items: center;
  margin-top: auto;
  & > * {
    margin-right: $action-buttons-gutter;
  }
}

.ProfileForm-ActionButtons--newStyle {
  @extend .ProfileForm-ActionButtons;
  align-self: flex-end;
  margin-right: -$action-buttons-gutter;
}