<mat-toolbar class="Footer-Container" color="background">
  <div class="Footer-Github">
    <fa-icon [icon]="faGithub" class="Footer-Github-Icon"></fa-icon>
    <a href="https://github.com/Imbibed/Unnamed-Project" target="_blank" rel="noopener noreferrer">Github</a>
    <fa-icon [icon]="faExternalLinkAlt" class="Footer-Github-ExternalLinkIcon"></fa-icon>
  </div>
  <div class="Footer-Version">Version 0.4.0</div>
  <div class="Footer-Author">
    Created by Aurélien Rasse, 2019.<br>
    Contact: aurelien.rasse28@gmail.com
  </div>
</mat-toolbar>
