@import 'breakpoints';

.PostList {
  height: 100%;
  margin-top: -10px; // to compensate the margin-top of the first post
  width: $md;
  display: flex;
  flex-direction: column;
}

.PostList-RefreshButton {
  align-self: center;
  margin-top: 20px;
}
