<app-shell>
    <mat-drawer-container class="Settings-Container">
        <mat-drawer class="Settings-Menu" mode="side" opened>
          <mat-list>
            <mat-list-item [ngClass]="'Settings-Menu-Item' + '--selected'" matRipple><a routerLink="./profile">Profile</a></mat-list-item>
            <mat-list-item [ngClass]="'Settings-Menu-Item'" matRipple><a routerLink="./about">About</a></mat-list-item>
          </mat-list>
        </mat-drawer>
        <mat-drawer-content class="Settings-Content">
          <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</app-shell>
