@import 'extra-palettes';
@import 'mixins';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ForgottenPwd-AnimationContainer {
  overflow: hidden;
  flex-grow: 1;
}

.ForgottenPwd-Form {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
}

.ForgottenPwd-ButtonContainer {
  align-self: center;
  margin-top: auto;
  display: flex;
  align-items: center;
  
  .mat-spinner {
    margin-left: 10px;
  }
}

.ForgottenPwd-Confirmation {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ForgottenPwd-ConfirmationIcon {
  font-size: 100px;
  margin-bottom: -30px; // to compensate line space of the icon
  color: get-extra-color($green, default, null);
}

.ForgottenPwd-ConfirmationText {
  text-align: center;
  width: 300px;
}