@import 'ink-theme';
@import 'mixins';

.AdminDashboard-Charter {
    display: flex;
    flex-wrap: wrap;
}

%AdminDashboard-Charter-Color {
    margin: 0 10px 10px 0;
    padding: 10px;
    text-align: center;
    width: 150px;
}

@each $name in $palettes {
    .AdminDashboard-Charter-Color--#{$name} {
        @extend %AdminDashboard-Charter-Color;
        color: get-theme-color($ink-theme, $name, default-contrast, null);
        background-color: get-theme-color($ink-theme, $name, default, null);
    }
}