.ProfilePage-Form {
  height: 250px;
}

.ProfilePage-Checklist {
  margin-bottom: 20px;
}

.ProfilePage-UploadImage {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

$image-size: 64px;

.ProfilePage-UploadImage-ImageContainer {
  width: $image-size;
  height: $image-size;
  overflow: hidden;
  margin-right: 10px;
}

.ProfilePage-UploadImage-Image {
  width: $image-size;
}

@keyframes animatedBackground {
  0% { background-position-x: 0px; }
  100% { background-position-x: 2*$image-size; }
}

.ProfilePage-UploadImage-ImagePlaceholder {
  width: $image-size;
  height: $image-size;
  border-radius: $image-size/2;
  background: linear-gradient(to right, #eeeeee 0%, #dddddd 30%, #eeeeee 60%);
  background-size: 2*$image-size $image-size;

  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: animatedBackground;
  animation-timing-function: linear;
}

.ProfilePage-UploadImage-Actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  & > *:not(:last-child) {
    margin-bottom: 5px;
  }
}

.ProfilePage-ActionButtons {
  display: flex;
  align-items: center;
  margin-top: auto;
  & > * {
    margin-right: 10px;
  }
}