<h1>My profile</h1>

<form (ngSubmit)="onSubmit()" [formGroup]="profileForm" class="ProfileForm">
  <img class="ProfileForm-Image" src="assets/images/gazgano-picture-64px.png">
  
  <p>
    <mat-form-field floatLabel="always">
      <input #username formControlName="username" matInput placeholder="Display name">
      <mat-error>{{ getErrorMessage('username', 'username') | uppercaseFirstLetter }}</mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field floatLabel="always">
      <input formControlName="email" matInput placeholder="Email">
      <mat-error>{{ getErrorMessage('email', 'email') | uppercaseFirstLetter }}</mat-error>
    </mat-form-field>
  </p>

  <p class="ProfileForm-Passwords" formGroupName="passwords">
    <mat-form-field class="ProfileForm-Password" floatLabel="always">
      <mat-icon class="ProfileForm-Password-HelpIcon" color="primary" [inline]="true" matTooltip="Password must have at least eight characters">help</mat-icon>
      <input formControlName="password" matInput placeholder="Password" type="password">
      <mat-error>{{ getErrorMessage(['passwords', 'password'], 'password') | uppercaseFirstLetter }}</mat-error>
    </mat-form-field>
  
    <mat-form-field floatLabel="always">
      <input formControlName="confirmPassword" matInput placeholder="Confirm password" type="password">
      <mat-error>{{ getErrorMessage(['passwords', 'confirmPassword'], 'password confirmation') | uppercaseFirstLetter }}</mat-error>
    </mat-form-field>
  </p>

  <div class="ProfileForm-ActionButtons">
    <button [disabled]="isSubmitting || !atLeastOneDirty(profileForm)" color="primary" type="submit" mat-flat-button>Save changes</button>
    <mat-spinner *ngIf="isSubmitting" [diameter]="20" color="primary"></mat-spinner>
  </div>
</form>
