<h1>My profile</h1>

<div class="ProfilePage-Checklist">
  <app-checklist-item [condition]="currentUser.emailVerified" [textIfTrue]="'Email verified'" [textIfFalse]="'Email not verified'"></app-checklist-item>
</div>

<div class="ProfilePage-UploadImage">
  <div class="ProfilePage-UploadImage-ImageContainer">
    <ng-container *ngIf="profileImageUrl$ | async as profileImageUrl; else imageLoading">
      <img class="ProfilePage-UploadImage-Image" [attr.src]="profileImageUrl">
    </ng-container>
    <ng-template #imageLoading>
      <div class="ProfilePage-UploadImage-ImagePlaceholder"></div>
    </ng-template>
  </div>

  <div class="ProfilePage-UploadImage-Actions">
    <div>Accepted formats: <i>.jpg</i>, <i>.png</i></div>
    <input #file mat-button type="file">
  </div>
</div>

<div class="ProfilePage-Form">
  <app-profile-form [profileFormType]="'UPDATE'" [currentUser]="currentUser" [triggerSubmission]="submissionObservable" (formSubmit)="onSubmit($event)" ></app-profile-form>
</div>

<div class="ProfilePage-ActionButtons">
  <button [disabled]="false" (click)="submitForm()" class="ProfilePage-SubmitButton" color="primary" mat-flat-button>Save changes</button>
  <mat-spinner *ngIf="isSubmitting" [diameter]="20" color="primary"></mat-spinner>
</div>