<ng-container *ngIf="callState$ | async as callState">
  <div *ngIf="getErrorMessage(callState)" class="PostComment-CenterContainer">
      <div class="PostComment-Message">{{ getErrorMessage(callState) }}</div>
      <button mat-button color="primary" (click)="retryToLoad()">Retry</button>
  </div>

  <div *ngIf="callState === 'LOADING'" class="PostComment-CenterContainer">
      <mat-spinner [color]="palette" [diameter]="30"></mat-spinner>
  </div>

  <ng-container *ngIf="callState === 'LOADED'">
    <ng-container *ngIf="comments$ | async as comments; else noCommentMessage">
      <app-comment-list *ngIf="comments.length > 0; else noCommentMessage" [comments]="comments" [palette]="palette" [postId]="postId"></app-comment-list>
    </ng-container>

    <ng-template #noCommentMessage><div class="PostComment-CenterContainer">
        <div class="PostComment-Message">
          There is no comment here. Be the first to add one!
        </div>
    </div></ng-template>
  </ng-container>
</ng-container>

<mat-divider></mat-divider>

<div class="PostComment-WriteBox">
    <app-profile-image class="PostComment-WriteBox-Avatar" [user]="currentUser" [sizeInPixel]="'32'"></app-profile-image>
    <input #userComment (keyup.enter)="sendComment(userComment.value)" class="PostComment-WriteBox-Input" type="text" placeholder="Write a comment...">
    <button (click)="sendComment(userComment.value)" [ngClass]="'PostComment-WriteBox-SendButton--' + palette" mat-icon-button>
        <mat-icon [inline]="true">send</mat-icon>
    </button>
</div>
