@import 'ink-theme';
@import 'mixins';

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mat-divider {
  margin: 10px 0;
}

.PostComment-CenterContainer {
  @include center-everything;
  @include full-size;
  font-size: 13px;
  font-style: italic;
  color: map-get(map-get($ink-theme, foreground), text);
}

.PostComment-WriteBox {
  align-items: center;
  display: flex;
}

.PostComment-WriteBox-Avatar {
  margin-right: 10px;
}

.PostComment-WriteBox-Input {
  border-radius: 3px;
  margin-right: 10px;
  padding: 10px 15px;
  border: solid 1px map-get(map-get($ink-theme, foreground), divider);
  background-color: map-get(map-get($ink-theme, background), background);
  width: calc(100% - 100px); // to let space for button
}

// adding colors depending of the theme
@each $name in $palettes {
  $palette: map-get($ink-theme, $name);

  .PostComment-WriteBox-SendButton--#{$name} {
    color: map-get($palette, default);
  }
}
