<app-shell>
    <div class="WallContainer">
        <div class="Wall" >
            <mat-spinner *ngIf="posts.length === 0" class="Home-Spinner" diameter="50"></mat-spinner>
            <ng-container *ngFor="let post of posts">
                <app-post *ngIf="getPostDesign(post).component === 'post'" [post]="post" [postTypeDesign]="getPostDesign(post)"></app-post>
                <app-post-light *ngIf="getPostDesign(post).component === 'post-light'" [post]="post" [postTypeDesign]="getPostDesign(post)"></app-post-light>
            </ng-container>
        </div>
    </div>
</app-shell>
