<mat-card class="PostCard">
    <mat-card-header>
        <img mat-card-avatar src="assets/images/gazgano-picture-64px.png">
        <mat-card-title>Imbided souhaite nous faire découvrir un jeu</mat-card-title>
        <mat-card-subtitle>2 min.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Duis sunt tempor culpa est duis qui aliquip tempor mollit. Esse ad minim dolor ea ex culpa laborum. Anim sit sunt in incididunt mollit et culpa ex velit. Fugiat excepteur quis nisi ea occaecat incididunt. Magna excepteur eiusmod sunt dolore ut elit ea dolor Lorem quis anim.</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>
            <mat-icon>thumb_up</mat-icon>
            3 likes
        </button>
        <button mat-button>
            <mat-icon>chat_bubble</mat-icon>
            2 comments
        </button>
    </mat-card-actions>
</mat-card>
