.mat-error {
  white-space: nowrap;
}

.ProfileForm-Password {
  position: relative;
  margin-right: 10px;
}

.ProfileForm-Password-HelpIcon {
  position: absolute;
  top: -16px;
  left: 57px;
}

.ProfileForm-ActionButtons {
  display: flex;
  align-items: center;
}

.ProfileForm-SubmitButton {
  margin-right: 10px;
}