@import 'mixins';
@import 'ink-theme';

// Theme
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Layout
* {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

html, body {
  @include full-size;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

// Elements
a {
  color: inherit;
  text-decoration: none;
}

input {
  border-radius: 2px;
}

// Themes custom class
.primary {
  color: mat-color($ink-primary) !important;
}

.warn {
  color: mat-color($ink-warn) !important;
}

.accent {
  color: mat-color($ink-accent) !important;
}

.reverse-primary {
  background-color: mat-color($ink-primary) !important;
  color: white !important;
}

.reverse-warn {
  background-color: mat-color($ink-warn) !important;
  color: white !important;
}

.reverse-accent {
  background-color: mat-color($ink-accent) !important;
  color: white !important;
}

.svg-fill-primary {
  fill: mat-color($ink-primary);
}

.svg-fill-warn {
  fill: mat-color($ink-warn);
}

.svg-fill-accent {
  fill: mat-color($ink-accent);
}
