@import 'ink-theme';
@import 'mixins';

.PostEditor-Card {
  margin-bottom: 20px;
  border-radius: 0;
}

.PostEditor-Card-Header {
  margin-bottom: 20px;
}

%PostEditor-Card-Title-Input {
  width: 100%;
  border: solid 1px get-theme-color($ink-theme, foreground, divider, null);
  padding: 2px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.PostEditor-Card-Title-Error {
  margin-top: 5px;
  font-size: 14px;
}

%PostEditor-Card-Content {
  width: 100%;
  height: 70px;
  resize: none;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  border-radius: 2px;
  padding: 7px;
  border-color: get-theme-color($ink-theme, foreground, divider, null);
}

.PostEditor-Card-ImagesUploader {
  margin-bottom: 20px;
  input[type=file] { display: none; }
}

.PostEditor-Card-Images {
  display: flex;
  flex-wrap: wrap;
  & > *:not(:last-child) { margin-right: 10px; }
}

%PostEditor-Card-ImageContainer {
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: dashed;
  border-radius: 10px;
  padding: 5px;
  position: relative;
  margin-top: 10px;
}

.PostEditor-Card-ImageContainer-DeleteButton {
  position: absolute;
  top: 0;
  right: 0;
}

.PostEditor-Card-Actions {
  margin: 0 !important;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@each $name in $palettes {
  .PostEditor-Card-Content--#{$name} {
    @extend %PostEditor-Card-Content;
    &:focus {
      border-color: get-theme-color($ink-theme, $name, 200, null);
    }
  }

  .PostEditor-Card-Title-Input--#{$name} {
    @extend %PostEditor-Card-Title-Input;
    color: get-theme-color($ink-theme, $name, default-contrast, null);
    background-color: get-theme-color($ink-theme, $name, default, null);
    &::placeholder {
      color: get-theme-color($ink-theme, $name, default-contrast, null);
    }
  }

  .PostEditor-Card-ImageContainer--#{$name} {
    @extend %PostEditor-Card-ImageContainer;
    border-color: get-theme-color($ink-theme, $name, default, null);
  }

  .PostEditor-Card-AddButton--#{$name} {
    @extend .PostEditor-Card-ImageContainer--#{$name};

    cursor: pointer;
    color: get-theme-color($ink-theme, $name, default, null);

    $icon-size: 50px;
    font-size: $icon-size;
    .mat-icon { width: $icon-size; height: $icon-size; }
  }
}

