<mat-card [ngStyle]="{display: ['message', 'screenshotShare'].includes(postEditorType)? 'block' : 'none'}" class="PostEditor-Card" [formGroup]="form">
  <mat-card-header class="PostEditor-Card-Header">
    <app-profile-image mat-card-avatar [user]="currentUser" [sizeInPixel]="'40'"></app-profile-image>
    <mat-card-title class="PostEditor-Card-Title">
      <input formControlName="title" type="text" [ngClass]="'PostEditor-Card-Title-Input--' + design.palette" placeholder="Type your title...">
      <mat-error *ngIf="formSubmitted" class="PostEditor-Card-Title-Error">{{ getErrorMessage('title', 'title') | uppercaseFirstLetter }}</mat-error>
    </mat-card-title>
  </mat-card-header>
  
  <mat-card-content>
    <div class="PostEditor-Card-ImagesUploader" [ngStyle]="{display: postEditorType === 'screenshotShare'? 'block' : 'none'}">
      <div>Attach pictures (<i>.jpg</i>, <i>.jpeg</i>, <i>.png</i>). Max size per file: {{ maxImageSizeString }}.</div>
      <button (click)="imageUploader.click()" mat-button [color]="design.palette">Choose pictures</button>
      <input #imageUploader type="file" accept=".jpg, .jpeg, .png" multiple (change)="readFiles()">
      <div class="PostEditor-Card-Images">
        <div *ngFor="let image of images" [ngClass]="'PostEditor-Card-ImageContainer--' + design.palette">
          <img [src]="image.url" [title]="image.title">
        </div>
      </div>
    </div>
    <textarea formControlName="message" [ngClass]="'PostEditor-Card-Content--' + design.palette" placeholder="Type your message..."></textarea>
    <mat-error *ngIf="formSubmitted">{{ getErrorMessage('message', 'message') | uppercaseFirstLetter }}</mat-error>
  </mat-card-content>

  <mat-card-actions class="PostEditor-Card-Actions">
    <mat-spinner *ngIf="(sendPostState$ | async) === 'LOADING'" [diameter]="20" [color]="design.palette"></mat-spinner>
    <button mat-button [color]="design.palette" (click)="closeEditor()">Cancel</button>
    <button mat-flat-button [color]="design.palette" (click)="publish()">Publish</button>
  </mat-card-actions>
</mat-card>