<img
  *ngIf="imageUrl; else defaultImage"
  [attr.src]="imageUrl"
  class="ProfileImage-Image"
  [ngStyle]="{
    width: sizeInPixel+'px',
    height: sizeInPixel+'px',
    borderRadius: sizeInPixel/2+'px'
  }"
>

<ng-template #defaultImage>
  <div
    [ngClass]="'ProfileImage-Default--' + hue"
    [ngStyle]="{
      width: sizeInPixel+'px',
      height: sizeInPixel+'px',
      borderRadius: sizeInPixel/2+'px',
      fontSize: sizeInPixel/2+'px',
      display: inline? 'inline-flex' : 'flex'
    }"
  >
    <span>{{ user.username.substring(0,1) }}</span>
  </div>
</ng-template>
