<div *ngFor="let comment of comments" class="PostComment">
    <div class="PostComment-Avatar">
        <img mat-card-avatar src="assets/images/gazgano-picture-64px.png">
    </div>
    <div [ngClass]="'PostComment-Content--' + palette">{{ comment.content }}</div>
    <button [ngClass]="'PostComment-LikeButton--' + palette" [ngStyle]="comment.likesCount > 0? {display: 'block'} : {}" mat-icon-button>
        <mat-icon [inline]="true">thumb_up</mat-icon>
        <span *ngIf="comment.likesCount > 0">{{ comment.likesCount }}</span>
    </button>
</div>