<div *ngFor="let comment of comments" class="PostComment-Comment">
    <div class="PostComment-Avatar">
        <img mat-card-avatar src="assets/images/gazgano-picture-64px.png">
    </div>
    <div [ngClass]="'PostComment-Content--' + palette">{{ comment.content }}</div>
    <button [ngClass]="'PostComment-LikeButton--' + palette" [ngStyle]="comment.likesCount > 0? {display: 'block'} : {}" mat-icon-button>
        <mat-icon [inline]="true">thumb_up</mat-icon>
        <span *ngIf="comment.likesCount > 0">{{ comment.likesCount }}</span>
    </button>
</div>
<mat-divider></mat-divider>
<div class="PostComment-WriteBox">
    <div class="PostComment-WriteBox-Avatar">
        <img mat-card-avatar src="assets/images/gazgano-picture-64px.png">
    </div>
    <input #userComment (keyup.enter)="sendComment(userComment.value)" class="PostComment-WriteBox-Input" type="text" placeholder="Write a comment...">
    <button *ngIf="!sendCommentLoading" (click)="sendComment(userComment.value)" [ngClass]="'PostComment-WriteBox-SendButton--' + palette" mat-icon-button>
        <mat-icon [inline]="true">send</mat-icon>
    </button>
    <mat-spinner *ngIf="sendCommentLoading" [color]="palette" [diameter]="20"></mat-spinner>
</div>
