<mat-toolbar color="primary">
  <a class="Logo" routerLink="/"><img src="assets/images/logo.svg"></a>

  <div class="SearchBar">
    <input type="text" placeholder="Rechercher">
    <mat-icon class="SearchBar-Icon" color="primary">search</mat-icon>
  </div>

  <button mat-icon-button>
    <mat-icon>chat_bubble_outline</mat-icon>
  </button>

  <button mat-icon-button>
    <mat-icon>notifications_none</mat-icon>
  </button>

  <button mat-button [matMenuTriggerFor]="menu">
    <img class="UserMenu-Image" *ngIf="!displayDefaultImage" [src]="userPicturePath">
    <span class="UserMenu-Name">{{userName}}</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item routerLink="/admin">
      <mat-icon>perm_data_setting</mat-icon>
      Admin
    </button>
  </mat-menu>
</mat-toolbar>
