@import 'breakpoints';

.mat-toolbar {
  line-height: 0px;
  height: 64px;
}

.Logo {
  margin-right: auto;
  img {
    height: 40px;
  }
}

.SearchBar {
  $side-padding: 15px;

  display: none;
  padding: 0 $side-padding;
  margin: 0 auto;
  position: relative;
  width: 50%;

  input {
    border: none;
    height: 25px;
    padding-left: 10px;
    width: 100%;
  }

  .SearchBar-Icon {
    position: absolute;
    right: $side-padding;
  }
}

.UserMenu-Image {
  height: 30px;
  margin-right: 5px;
  width: 30px;
}

.UserMenu-Name {
  display: none;
}

// Breakpoints
@media (min-width: $sm) {
  .SearchBar {
    display: block;
  }

  .UserMenu-Name {
    display: inline;
  }
}
