@function get-color($palette-name, $color-name, $contrast-code) {
  // contrast-code is null most of the time 
  // (and must be provided as null, because there is no default arg value in SASS)
  @if $contrast-code {
    @return map-get(map-get(map-get($ink-theme, $palette-name), $color-name), $contrast-code);
  } @else {
    @return map-get(map-get($ink-theme, $palette-name), $color-name);
  }
}

@mixin center-everything {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin clickable {
  cursor: pointer;
}

@mixin disc($radius, $color) {
  height: 2 * $radius;
  width: 2* $radius;
  border-radius: $radius;
  background-color: $color;
}

@mixin full-size {
  height: 100%;
  width: 100%;
}

@mixin hover-lightened($color) {
  &:hover {
    background-color: darken($color, 5%);
  }
}
