@mixin full-size {
  height: 100%;
  width: 100%;
}

@mixin center-everything {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin clickable {
  cursor: pointer;
}

@mixin hover-lightened($color) {
  &:hover {
    background-color: darken($color, 5%);
  }
}
