@mixin center-everything {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin clickable {
  cursor: pointer;
}

@mixin disc($radius, $color) {
  height: 2 * $radius;
  width: 2* $radius;
  border-radius: $radius;
  background-color: $color;
}

@mixin full-size {
  height: 100%;
  width: 100%;
}

@mixin hover-lightened($color) {
  &:hover {
    background-color: darken($color, 5%);
  }
}
