// Button with icon and text
.mat-button-wrapper > span {
    margin-left: 5px;
}

// PostCard
.PostCard .mat-card-header-text {
    max-width: calc(100% - 160px); // minus ribbon width + title margins + space for "more" button
}

.PostCard .mat-button-wrapper > span {
    width: 10px;
}

// Profile-Page
.ProfileForm .mat-form-field-subscript-wrapper {
    overflow: visible
}

// PostEditor
.PostEditor-Card .mat-card-header-text {
    width: 100%;
    margin-right: 0;
}