<!-- Usual card -->
<mat-card *ngIf="postDesign.componentStyle === 0" class="PostCard">
    <mat-card-header>
        <app-profile-image mat-card-avatar [user]="postAuthor" [sizeInPixel]="'40'" [matTooltip]="postAuthor.username + ' - ' + postTimestamp"></app-profile-image>
        <div class="PostCard-Ribbon">
            <mat-icon [ngClass]="'PostCard-Ribbon-Icon--' + postDesign.palette" [inline]="true">{{ postDesign.icon }}</mat-icon>
            <svg width="100" height="100"><polygon [ngClass]="'PostCard-Ribbon-Svg--' + postDesign.palette" points="0,0 50,0 100,50 100,100" /></svg>
        </div>
        <mat-card-title class="PostCard-Title">
            <div *ngFor="let word of post.title.split(' ')" [ngClass]="'PostCard-Title-Word--' + postDesign.palette">{{ word }}</div>
            <div class="PostCard-Title-MoreButtonContainer">
                <mat-spinner *ngIf="inDeletionState == 'LOADING'; else moreButton" [diameter]="20" [color]="postDesign.palette"></mat-spinner>
                <ng-template #moreButton>
                    <button *ngIf="postAuthor.id == currentUser.id || currentUser.roles && currentUser.roles.includes('admin')" [matMenuTriggerFor]="menu" color="foreground" mat-icon-button><mat-icon>more_vert</mat-icon></button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="deletePost()">
                        <mat-icon>delete</mat-icon>
                        Delete this post
                        </button>
                    </mat-menu>
                </ng-template>
            </div>
        </mat-card-title>
        <mat-card-subtitle [ngClass]="'PostCard-Subtitle--' + postDesign.palette">{{ elapsedTime }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p [innerHTML]="htmlFormattedContent"></p>
        <ng-container *ngIf="images$ | async as images">
          <div *ngIf="images.length > 0" [ngClass]="'PostCard-PreviewsGrid--' + getPreviewsCount(images.length)">
              <div *ngFor="let img of images.slice(0, maxPreviewsCount); index as i; last as isLast" (click)="openImageViewer(images, i)" class="PostCard-PreviewContainer">
                  <div *ngIf="isLast && images.length > maxPreviewsCount" class="PostCard-RemainingPreviews">+ {{ images.length - getPreviewsCount(images.length)  }}</div>
                  <img [src]="img.src">
              </div>
          </div>
        </ng-container>
    </mat-card-content>

    <mat-card-actions [ngClass]="'PostCard-Actions--' + postDesign.palette">
        <button (click)="toggleLikePost()" mat-button>
            <mat-icon *ngIf="!post.likeIds?.includes(currentUser.id)" fontSet="material-icons-outlined">thumb_up</mat-icon>
            <mat-icon *ngIf="post.likeIds?.includes(currentUser.id)">thumb_up</mat-icon>
            <span *ngIf="post.likeIds && post.likeIds.length > 0">{{ post.likeIds.length }}</span>
        </button>
        <button mat-button (click)="toggleComments()">
            <ng-container *ngIf="commentsCount$ | async as commentsCount; else postCommentsCount">
                <mat-icon *ngIf="commentsCount === 0" fontSet="material-icons-outlined">chat_bubble_outline</mat-icon>
                <mat-icon *ngIf="commentsCount > 0">chat_bubble</mat-icon>
                <span *ngIf="commentsCount > 0">{{ commentsCount }}</span>
            </ng-container>
            <ng-template #postCommentsCount>
                <mat-icon *ngIf="post.commentsCount === 0" fontSet="material-icons-outlined">chat_bubble_outline</mat-icon>
                <mat-icon *ngIf="post.commentsCount > 0">chat_bubble</mat-icon>
                <span *ngIf="post.commentsCount > 0">{{ post.commentsCount }}</span>
            </ng-template>
        </button>
    </mat-card-actions>
</mat-card>

<!-- Usual card comments -->
<div *ngIf="postDesign.componentStyle === 0" [@openClose]="commentsOpen ? 'open' : 'closed'" class="PostCard-Comments">
    <mat-divider></mat-divider>
    <app-comment-page [palette]="postDesign.palette" [postId]="post.id" (retryLoading)="loadComments()"></app-comment-page>
</div>

<!-- Light card (no content, just title) -->
<mat-card *ngIf="postDesign.componentStyle === 1" [ngClass]="'PostCardLight--' + postDesign.palette">

    <div mat-card-avatar class="PostCardLight-Avatar">
      <fa-icon [icon]="faBullhorn"></fa-icon>
    </div>

    <div class="PostCardLight-Title">{{ post.title }}</div>

    <mat-card-actions [ngClass]="'PostCardLight-Actions--' + postDesign.palette">
        <button (click)="toggleLikePost()" mat-button>
            <mat-icon *ngIf="!post.likeIds?.includes(currentUser.id)" fontSet="material-icons-outlined">thumb_up</mat-icon>
            <mat-icon *ngIf="post.likeIds?.includes(currentUser.id)">thumb_up</mat-icon>
            <span *ngIf="post.likeIds && post.likeIds.length > 0">{{ post.likeIds.length }}</span>
        </button>
        <button mat-button (click)="toggleComments()">
            <mat-icon fontSet="material-icons-outlined">chat_bubble_outline</mat-icon>
            <ng-container *ngIf="commentsCount$ | async as commentsCount">
                <span *ngIf="commentsCount > 0; else postCommentsCount">{{ commentsCount }}</span>
                <ng-template #postCommentsCount><span *ngIf="post.commentsCount > 0">{{ post.commentsCount }}</span></ng-template>
            </ng-container>
        </button>
    </mat-card-actions>
</mat-card>

<!-- Light card comments -->
<div *ngIf="postDesign.componentStyle === 1" [@openClose]="commentsOpen ? 'open' : 'closed'" class="PostCardLight-Comments">
  <mat-divider></mat-divider>
  <app-comment-page [palette]="postDesign.palette" [postId]="post.id" (retryLoading)="loadComments()"></app-comment-page>
</div>
